/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */

:root {
  --background-color: rgb(30, 30, 30);
  --primary-color: rgb(50, 38, 41);
  --font-color: rgb(255, 255, 255);
  --button-color: rgb(253, 111, 0);
  --black-color: rgb(0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
.button{
    color: var(--font-color);
    border: none;
    text-decoration: none;
    padding: 12px 20px ;
    background-color: var(--button-color);
}
.star-img{
    width: 3%;
    height: 3%;
}
h4 .star-img{
    width: 3%;
    height: 3%;
}
.logo{
    color: var(--button-color);
}
